* {	margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Ranchers', cursive; }

.main-container {
	height: 100vh;
	background: #136a8a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.main-container h1 {
	color: #eee;
	font-size: 5em;
	font-weight: normal;
	text-align: center;
	padding: 35px 0; 
    text-shadow: 10px 10px 2px rgba(0, 0, 0, .4);}

.canvas-container {
	display: flex;
	margin: auto; }

canvas {
	margin: auto;
	border: 5px solid #444;
	border-radius: 10px;
	display: block; }